In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("minute_data/combined_sorted_filtered.csv")

In [16]:
def extract_date(date_string):
    date = date_string.split(" ")[0]
    return pd.to_datetime(date)

def extract_time(date_string):
    time = date_string.split(" ")[1]
    return time

In [19]:
df["time"] = df["date"].apply(extract_time)
print(df)
df.to_csv("minute_data/combined_sorted_filtered.csv")

        Unnamed: 0                     date  Accelerometer_X  Accelerometer_Y  \
0            39524  2024-08-20 00:00:34:000           0.3034          -0.6041
1            39525  2024-08-20 00:01:34:000           0.3040          -0.6042
2            39526  2024-08-20 00:02:34:000           0.3046          -0.6040
3            39527  2024-08-20 00:03:34:000           0.3050          -0.6038
4            39528  2024-08-20 00:04:34:000           0.3055          -0.6038
...            ...                      ...              ...              ...
180967      220491  2025-02-28 02:57:05:000          -0.8995           0.0101
180968      220492  2025-02-28 02:58:05:000          -0.8990           0.0101
180969      220493  2025-02-28 02:59:05:000          -0.8993           0.0097
180970      220494  2025-02-28 03:00:05:000          -0.8988           0.0102
180971      220495  2025-02-28 03:01:05:000          -0.8990           0.0102

        Accelerometer_Z  Light_Lux  Temperature_C   date_only          time
0               -0.7181          0           33.0  2024-08-20  00:00:34:000
1               -0.7176          0           33.2  2024-08-20  00:01:34:000
2               -0.7174          0           33.2  2024-08-20  00:02:34:000
3               -0.7176          0           33.2  2024-08-20  00:03:34:000
4               -0.7169          0           33.2  2024-08-20  00:04:34:000
...                 ...        ...            ...         ...           ...
180967           0.4528          0           31.5  2025-02-28  02:57:05:000
180968           0.4539          0           31.5  2025-02-28  02:58:05:000
180969           0.4534          0           31.5  2025-02-28  02:59:05:000
180970           0.4535          0           31.5  2025-02-28  03:00:05:000
180971           0.4539          0           31.5  2025-02-28  03:01:05:000

[180972 rows x 9 columns]

In [4]:
def range_of_date(date):
    labels_start_date = pd.to_datetime("2024-08-20")
    return date >= labels_start_date

In [5]:
print(range_of_date(date=pd.to_datetime("2024-08-21")))

True

In [35]:
def filter(df):
    filtered_rows = []
    for i in range(len(df["date_only"])):
        
        if range_of_date(df["date_only"].iloc[i]):
            filtered_rows.append(df.loc[i])

    return pd.DataFrame(filtered_rows)

In [36]:
df = filter(df)

In [39]:
df.to_csv("minute_data/combined_sorted_filtered.csv")